/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
#root,
#__next {
    isolation: isolate;
}

/* My CSS */
:root {
    --background: #ffffff;
    --foreground: #171717;
    --foreground-faded: #17171744;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --foreground-faded: #ededed44;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0.5em;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: var(--foreground);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

nav {
    border-bottom: 1px solid var(--foreground);

    a {
        display: block;
        padding: 0.5em;
    }
}

h1 {
    font-size: 1.75em;
    margin: 0.25em 0 0.5em;
}

button {
    font-size: 1.2em;
    color: var(--foreground);
    background: var(--foreground-faded);
    border-radius: 0.5em;
    border: 1px solid var(--foreground);
    cursor: pointer;

    &:hover {
        background: #008800;
    }
}

.error {
    color: #cc0000;
    text-align: center;
    margin: 1em 0;
    padding: 0.6em;
    border: 1px solid #cc0000;
}

#list_stores {
    margin-top: 1em;

    ul {
        display: block;
    }

    li {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0.5em 0;
    }

    span {
        font-size: 1.3em;
    }
}
