<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/scripts.js" rel="stylesheet" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/receipts">Receipts</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
