<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/stores">Stores</a></li>
        </ul>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
