{% extends "base.html" %}
{% block title %}Edit Item{% endblock %}
{% block content %}
    <h1>{{ item.name }}</h1>
    <form action="/items/{{ item.id }}" method="post" class="multiline-form">
        {% if duplicate %}
        <p class="error">Item already exists</p>
        {% endif %}
        <div>
            <label for="name">Name:</label>
            <input type="name" id="name" name="name" value="{{ item.name }}">
        </div>
        <div class="textarea-wrapper">
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes">{{ item.notes or "" }}</textarea>
        </div>
        <button type="submit">Update</button>
    </form>
{% endblock %}
